{% extends 'front.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('front/scss/restoDon/css/root.css') }}">
{% endblock %}

{% block body %}
    <h1>Donrestaurant edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('donrestaurant_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
