{% extends 'front.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('front/scss/restoDon/css/root.css') }}">
{% endblock %}

{% block body %}
    <h1>Donrestaurant creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form.idResto, {'attr':{'placeholder': 'idResto' }}) }}
        {{ form_widget(form.idUser, {'attr':{'placeholder': 'idUser' }}) }}
        {{ form_widget(form.montant, {'attr':{'placeholder': 'Montant' }}) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('donrestaurant_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
