{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commentaireaide</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentaireAide.id }}</td>
            </tr>
            <tr>
                <th>Iduser</th>
                <td>{{ commentaireAide.idUser }}</td>
            </tr>
            <tr>
                <th>Iddemande</th>
                <td>{{ commentaireAide.idDemande }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ commentaireAide.texte }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commentaireaide_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('commentaireaide_edit', { 'id': commentaireAide.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
