<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Donation - Front</title>
    <link rel="icon" href="{{ asset('front/img/logo.png') }}" type="image/png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700" rel="stylesheet">
    <!-- Icon Font -->
    <link rel="stylesheet" href="{{ asset('front/css/ionicons/css/ionicons.css') }}">
    <!-- Text Font -->
    <link rel="stylesheet" href="{{ asset('front/css/font.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('front/css/bootstrap.css') }}">
    <!-- Normal style CSS -->
    <link rel="stylesheet" href="{{ asset('front/css/styleSignInUp.css') }}">
    <!-- Normal media CSS -->
    <link rel="stylesheet" href="{{ asset('front/css/mediaSignInUp.css') }}">

    <link rel="stylesheet" href="{{ asset('front/node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/vendors/fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/vendors/themify-icons/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('front/vendors/linericon/style.css') }}">
    <link rel="stylesheet" href="{{ asset('front/vendors/owl-carousel/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/vendors/owl-carousel/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/vendors/flat-icon/font/flaticon.css') }}">
    <link rel="stylesheet" href="{{ asset('front/vendors/nice-select/nice-select.css') }}">
    <link rel="stylesheet" href="{{ asset('front/scss/style.css') }}"}>
    <link rel="stylesheet" href="{{ asset('front/scss/modified/css/donation.css') }}">




    {% block stylesheets %}

    {% endblock %}
</head>
<body class="bg-shape">

<!--================ Header Menu Area start =================-->
<header class="header_area" style="--first-color: var(--my-color);">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
            <a class="navbar-brand"  href="#"><img style="width: 200px; height: auto;" src="{{ asset('front/img/logo.png') }}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                <ul class="nav navbar-nav menu_nav justify-content-end justify-content-start" >
                    <!--         <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li> -->

                    <li class="nav-item"><a class="nav-link" href="#">Cagnotte</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Aide</a>
                    <li class="nav-item submenu dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Emploi</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="nav-link" href="#">Amentities</a>
                        </ul>
                    </li>

                    <li class="nav-item submenu dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Restaurant</a>
                        <ul class="dropdown-menu">
                            <li class="nav-item"><a class="nav-link" href="#">Donation</a></li>
                            <li class="nav-item"><a href="{{ path('publicationdon_index') }}" class="nav-link" href="#">Organisation</a></li>
                        </ul>
                    </li>

                {%  if app.user is null %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('fos_user_security_login') }}">Sign In / </a><a class="nav-link" href="{{ path('fos_user_registration_register') }}" >Sign Up</a></li>
                {% else %}
                </ul>

                <div class="nav-right text-center">

                    <div class="nav-item dropdown submenu" style="width: fit-content;">
                        <a href="#" class="nav-link dropdown-toggle" aria-haspopup="true" data-toggle="dropdown" aria-expanded="false">
                            <img class="nav-img" src="{{ asset('uploads/UserImg/')~ app.user.image }}" alt="">
                            {#{% if(app.user.nom in null) %}
                                {{ app.user.nom ~' '~app.user.prenom }}
                            {% else %}#}
                                 {{ app.user.username }}
                            {#{% endif %}#}
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="nav-link"  href="{{ path('user_profil') }}"> Profile</a>
                            </li>

                            <li class="wrapper">
                                <input type="checkbox" name="checkbox" class="switch">
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  href="#">
                                    <span class="badge bg-red pull-right">50%</span>
                                    <span>Settings</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  href="#">Help</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"  href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                            </li>
                        </ul>
                    </div>
                </div>

                {% endif %}
            </div>

        </div>

    </nav>
    </div>
</header>

<!-- Start Modal Sign In Up -->
<div class="modal fade" id="SignInUpModal" tabindex="-1" role="dialog" aria-labelledby="SignInUpModal" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:1200px;">
        <div class="modal-content" style="background-color:transparent; border:none;">
            <div class="modal-body" style="padding:0;" >
                <div class="cd-content style1">
                    <div class="login-box d-md-flex align-items-center">
                        <h1 class="title">Bienvenu</h1>
                        <h3 class="subtitle">Rejoignez notre Plateforme pour aider et recevoir <br>de l'aide </h3>
                        <div class="login-form-box">
                            <div class="login-form-slider">
                                <!-- login slide start -->
                                <div class="login-slide slide login-style1">
                                    <form>
                                        <div class="form-group">
                                            <label class="label">Votre Adresse Mail</label>
                                            <input type="text" placeholder="user@donation.tn"  class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label class="label">Votre Mot de passe</label>
                                            <input type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;" class="form-control" value="1234567891">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">Remember me</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="submit" value="Sign In">
                                        </div>
                                    </form>
                                    <div class="sign-up-txt">
                                        Don't have an account? <a href="javascript:;" class="sign-up-click">Sign Up</a>
                                    </div>
                                    <div class="forgot-txt">
                                        <a href="javascript:;" class="forgot-password-click">Forgot Password</a>
                                    </div>
                                    <div class="login-with">
                                        <h3>Login with social</h3>
                                        <ul class="social-login-btn">
                                            <li class="facebook-btn"><a href="#"><i class="ion-social-facebook"></i></a></li>
                                            <li class="twitter-btn"><a href="#"><i class="ion-social-twitter"></i></a></li>
                                            <li class="google-btn"><a href="#"><img src="{{ asset('front/images/google.svg') }}"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- login slide end -->
                                <!-- signup slide start -->
                                <div class="signup-slide slide login-style1">
                                    <div class="d-flex height-100-percentage">
                                        <div class="align-self-center width-100-percentage">
                                            <form>
                                                <div class="form-group">
                                                    <label class="label">Email</label>
                                                    <input type="email" placeholder="amine.gongi@esprit.tn" class="form-control" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="label">Phone</label>
                                                    <input type="text" placeholder="+216 98 123 456" class="form-control" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="label">Password</label>
                                                    <input type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;" class="form-control" required>
                                                </div>
                                                <div class="form-group">
                                                    <label class="label">Confirm Password</label>
                                                    <input type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;" class="form-control" required>
                                                </div>
                                                <label class="label">Méthode de vérification</label>
                                                <div class="form-group">
                                                    <div >
                                                        <input type="radio" name="verifType" id="verifEmail" checked>
                                                        <label for="customCheck1">par Email</label>
                                                    </div>
                                                    <div >
                                                        <input type="radio" name="verifType" id="verifSMS">
                                                        <label for="customCheck1">par SMS</label>
                                                    </div>
                                                    <div >
                                                        <input type="radio" name="verifType" id="verifPhone">
                                                        <label for="customCheck1">par Téléphone</label>
                                                    </div>
                                                </div>
                                                <div class="form-group padding-top-15px">
                                                    <input type="submit" class="submit" value="S'inscrire">
                                                </div>
                                            </form>
                                            <div class="sign-up-txt">
                                                if you have an account? <a href="javascript:;" class="login-click">login</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- signup slide end -->
                                <!-- forgot password slide start -->
                                <div class="forgot-password-slide slide login-style1">
                                    <div class="d-flex height-100-percentage">
                                        <div class="align-self-center width-100-percentage">
                                            <form>
                                                <div class="form-group">
                                                    <label class="label">Enter your email address to reset your password</label>
                                                    <input type="email" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <input type="submit" class="submit" value="Submit">
                                                </div>
                                            </form>
                                            <div class="sign-up-txt">
                                                if you remember your password? <a href="javascript:;" class="login-click">login</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- forgot password slide end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal Sign In Up -->

<!--================Header Menu Area =================-->

<section class="container fixingBody">
    {% block body %}{% endblock %}
    <!--================Blog section End =================-->
</section>
{% block footer %}
<!-- ================ start footer Area ================= -->
<footer class="footer-area" style="--first-color: var(--my-color);">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>About Agency</h6>
                    <p>
                        The world has become so fast paced that people don’t want to stand by reading a page of information to be  they would much rather look at a presentation and understand
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Navigation Links</h6>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Feature</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Portfolio</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Newsletter</h6>
                    <p>
                        For business professionals caught between high OEM price and mediocre print and graphic output.
                    </p>
                    <div id="mc_embed_signup">
                        <form action="{{ path('nInscriF') }}" method="post" class="subscription relative">
                            <div class="input-group d-flex flex-row">
                                <input name="_email" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                <button class="btn bb-btn"><span class="lnr lnr-location"></span></button>
                            </div>
                            <div class="mt-10 info"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget mail-chimp">
                    <h6 class="mb-20">InstaFeed</h6>
                    <ul class="instafeed d-flex flex-wrap">
                        <li><img src="{{ asset('front/img/instagram/i1.jpg') }}" alt=""></li>
                        <li><img src="{{ asset('front/img/instagram/i2.jpg') }}" alt=""></li>
                        <li><img src="{{ asset('front/img/instagram/i3.jpg') }}" alt=""></li>
                        <li><img src="{{ asset('front/img/instagram/i4.jpg') }}" alt=""></li>
                        <li><img src="{{ asset('front/img/instagram/i5.jpg') }}" alt=""></li>
                        <li><img src="{{ asset('front/img/instagram/i6.jpg') }}" alt=""></li>
                        <li><img src="{{ asset('front/img/instagram/i7.jpg') }}" alt=""></li>
                        <li><img src="{{ asset('front/img/instagram/i8.jpg') }}" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="row align-items-center">
                <p class="col-lg-8 col-sm-12 footer-text m-0 text-center text-lg-left"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                <div class="col-lg-4 col-sm-12 footer-social text-center text-lg-right">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-dribbble"></i></a>
                    <a href="#"><i class="fab fa-behance"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ================ End footer Area ================= -->
{% endblock footer %}



<script src="{{ asset('front/vendors/jquery/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('front/vendors/bootstrap/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('front/vendors/owl-carousel/owl.carousel.min.js') }}"></script>
<script src="{{ asset('front/vendors/nice-select/jquery.nice-select.min.js') }}"></script>
<script src="{{ asset('front/js/jquery.ajaxchimp.min.js') }}"></script>
<script src="{{ asset('front/js/mail-script.js') }}"></script>
<script src="{{ asset('front/js/skrollr.min.js') }}"></script>
<script src="{{ asset('front/js/main.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ asset('front/js/modernizr.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/popper.min.js') }}"></script>
<!--<script type="text/javascript" src="{{ asset('front/js/bootstrap.js') }}"></script> -->
<script src="{{ asset('front/js/velocity.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('front/js/script.js') }}"></script>

{% block javascripts %}{% endblock %}
</body>
</html>