{% extends 'front.html.twig' %}

{% block body %}

    <div class="row">

        <div class="col">
            <div class="search-wrapper">

                {{ form_start(edit_form) }}
                <form class="search-form" action="#">


                    {{ form_widget(edit_form) }}
                    <input type="submit" class="button border-0 mt-3">


                </form>{{ form_end(edit_form) }}
            </div>

        </div>
    </div>


    <a href="{{ path('publicationdon_index') }}">Back to the list</a>
    {{ form_start(delete_form) }}
    <input type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
