{% extends 'front.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">

    <div class="col">
        <div class="col"><a href="{{ path('publicationdon_new') }}">
                <i class="fas fa-feather fa-2x"> Ajoutez votre unique publication & Aidez les autres !</i>
            </a></div>
        {% for pd in publicationDons %}


        <article class="blog_item" style="border-top-width: 3px; border-top-color: #0e90d2; border-top-style: groove; background-color: #000a9c08;">
            <div class="blog_item_img"  >
                <ul class="blog_item_date" style="opacity: revert; background-color: #ffffff00; margin-top: 40px; display: flex; bottom: -80px; left: 0px ;">
                    <li>
                        <a href="{{path('UserAutreProfil',{ 'id':pd.ajoutePar.id} )}}" >
                        <img  src="{{ asset('uploads/UserImg/') ~ pd.ajoutePar.image }}" alt="" class="center" style="border-radius: 40px ; width: 60px; height: 60px; "></a>
                    </li>
                    <ul style="color: #0b0b0b; margin-left:10px;text-align: left;">
                        {% if pd.ajoutePar.nom is not null %}
                            <li>{{ pd.ajoutePar.nom }} {{ pd.ajoutePar.prenom }}</li>
                        {% else %}
                            <li>{{ pd.ajoutePar.username }}</li>
                        {% endif %}
                        <li>{% if (pd.ajoutePar.roles.0 == "ROLE_RES") %}
                            Restaurant
                            {% else %}
                             Organisation
                                {% endif %}
                        </li>
                    </ul>

                </ul>
            </div>

            <div class="blog_details">
                <a class="d-inline-block" href="single-blog.html">
                    <h2>{{ pd.titre }}</h2>
                </a>
                <p>{{ pd.description| raw  }}</p>
                <p>{% if pd.nbrePlat %} Nous avons besoin de {{ pd.nbrePlat }} pour nourir {{ pd.nbrePlat }}{% endif %}</p>
                <ul class="blog-info-link">
                    <li><a href="#"><i class="far fa-user"></i> {% if pd.datePublication %}{{ pd.datePublication|ago  }}{% endif %}</a></li>
                    <li><a href="#"><i class="far fa-comments"></i>{{ pd.ajoutePar.numtel }} </a></li>
                    {% if (connectedUser is not null) %}
            {% if(connectedUser.id==pd.ajoutePar.id) %} <li><a style="color: #0e90d2 ;" href="{{ path('publicationdon_edit', { 'id': pd.id }) }}"><i class="fas fa-edit" ></i> Vous Pensez à modifier votre publication ?</a></li>{% endif %}
               {% endif %}
                </ul>
            </div>
        </article>



        <hr>

        {% endfor %}




    </div>
    </div>

    </div>

    </div>




    <div class="container">

        <!-- Trigger the modal with a button -->

        <button id="clickB" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="display: none;" data-backdrop="static" data-keyboard="false" >Open Modal</button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title" id="TitrePub" ></h4>
                    </div>
                    <div class="modal-body" >
                        <p id="PubContent" style="display: none;"></p>
                        <a id="ImageRedirectToPub" target="_blank" href="">
                        <img style="  width: 100%; height: auto;"  id="pubImageContent" src="" >
                        </a>
                    </div>
                    <div class="modal-footer">
                        <button  id ="closeB" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>







{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        eachTime=10;
        var x=eachTime ;
        var pause =false;
        function displayPub(eachTime){

            var jj=Math.floor(Math.random() * 100);
            setInterval(function() {
                x++;
                if(x%eachTime==0 && pause==false){
                    $.ajax({
                        url:        '{{ path('after_request') }}',
                        type:       'POST',
                        dataType:   'json',
                        async:      false,

                        success: function(data) {


                            var image = data.image;
                            var titre = data.titre;
                            var idPub = data.idPub;
                            document.getElementById("ImageRedirectToPub").href=data.description;

                            dispayModal(image,titre,idPub);



                        },
                    });

                }
            }, 1 * 1000);
        }
        displayPub(eachTime);


    </script>

    <script type="text/javascript">

        function dispayModal(image,titre,idPub){
            var i=0;
            document.getElementById("clickB").click();pause=true;
            document.getElementById("TitrePub").innerHTML = titre;

            document.getElementById("pubImageContent").src ="http://localhost/donationwebpidev/web/uploads/imagesPubs/"+ image; // a changer lors hebergeemtn !!


            setInterval(function() {

                i=i+1;

            }, 1 * 1000);

            document.getElementById("closeB").onclick = function(e){
                e.preventDefault();


                $.ajax({
                    url:        '{{ path('after_request_update') }}',
                    type:       'POST',
                    dataType:   'json',
                    data:       {durre:i,idPub:idPub},
                    async:      false,

                });
                pause=false;
                x=0;
                return ;
            };

            document.getElementById("ImageRedirectToPub").onclick=function () {
                $.get("http://ip-api.com/json/", function (response) {
                    countryCode = response.countryCode ;
                    //alert(idPub+" "+countryCode);
                    $.ajax({
                        url:        '{{ path('after_requestIP') }}',
                        type:       'POST',
                        dataType:   'json',
                        data:       {countryCode:countryCode,idPub:idPub},
                        async:      true,

                    });
                });


            }

        }

    </script>



    <script type="text/javascript">


    </script>

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('front/scss/restOrg/css/root.css') }}">
{% endblock %}