{% extends 'front.html.twig' %}

{% block body %}
    <a href="{{ path('publicationdon_index') }}"><i class="fas fa-list-ul fa-2x"> Retour aux publications </i></a>

            <div class="row">

                <div class="col">
                    <div class="search-wrapper">

                        {{ form_start(form) }}
                        <form class="search-form" action="#">


                            {{ form_widget(form) }}
                            <input type="submit" class="button border-0 mt-3" style="background-color: #0c5460;">


                        </form>{{ form_end(form) }}
                    </div>

                </div>
            </div>




{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('front/scss/restOrg/css/root.css') }}">
{% endblock %}