{% extends 'front.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('front/scss/restoDon/css/root.css') }}">
    <link rel="stylesheet" href="{{ asset('front/scss/restoDon/css/restoDon.css') }}">
{% endblock %}

{% block body %}
<div id="body-new-tarif">
    <h1>Tarifresto edit</h1>
    <div id="form" style="--first-color: var(--my-color); justify-content: center; margin-top: 10%;">
    {{ form_start(edit_form) }}

    <div class="formulaire-div-basics-svg" style="display: none;">
        {#            <label class="formulaire-label" for="{{ form.idResto.vars.id }}">id Resto</label>#}
        <input type="text" class="formulaire-input" id="{{ edit_form.idResto.vars.id }}" name="{{ edit_form.idResto.vars.full_name }}" value="{{ user }}">
        <div class="form-error" style="color: red;">
            {{ form_errors(edit_form.idResto) }}
        </div>
        {% do edit_form.idResto.setRendered %}
    </div>

    <div class="formulaire-div-basics-svg">
{#                    <label class="formulaire-label" for="{{ edit_form.portefeuilleVirtuel.vars.id }}">portefeuilleVirtuel</label>#}
        <label for="tarif" style="font-size: 30px;">Portefeuille</label>
        <input type="text" readonly class="formulaire-input trick-cursor-none" id="{{ edit_form.portefeuilleVirtuel.vars.id }}" name="{{ edit_form.portefeuilleVirtuel.vars.full_name }}" value="{{ edit_form.portefeuilleVirtuel.vars.data }}">
        {{ form_errors(edit_form.portefeuilleVirtuel) }}
        {% do edit_form.portefeuilleVirtuel.setRendered %}
    </div>

    <div class="formulaire-div-basics-svg">
        {#            <label class="formulaire-label" for="{{ form.tarif.vars.id }}">Tarif</label>#}
        <label for="tarif" style="font-size: 30px;">Tarif</label>
        <input type="number" min="0.00" step="0.05" autofocus class="formulaire-input" id="{{ edit_form.tarif.vars.id }}" name="{{ edit_form.tarif.vars.full_name }}" >
        {{ form_errors(edit_form.tarif) }}
        {% do edit_form.tarif.setRendered %}
    </div>



        <ul>
            <li id="background-fit-tarif">
        <table>
            <tr>
                <input class="button button-hero mt-4" style="color: white;" type="submit" value="Edit" />
            </tr>
            {{ form_end(edit_form) }}
            <tr>
                {{ form_start(delete_form) }}
                <input class="button button-hero mt-4" style="color: #B33A3A;" type="submit" value="Delete" />
                {{ form_end(delete_form) }}
            </tr>
        </table>
            </li>
            <li class="link-list-style" id="background-fit-tarif">
                <a class="link-list" href="{{ path('resto_don_homepage') }}">Retour</a>
            </li>
        </ul>



    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
       document.getElementById("{{ edit_form.tarif.vars.id }}").value = {{ edit_form.tarif.vars.data }} ;
    </script>
{% endblock %}