{% extends 'front.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('front/scss/restoDon/css/root.css') }}">
    <link rel="stylesheet" href="{{ asset('front/scss/restoDon/css/restoDon.css') }}">
{% endblock %}

{% block body %}
<div id="body">
    <section>
    <h1 style="color: var(--my-color);">Ajouter un tarif à votre restaurant</h1>

        <div id="form" style="--first-color: var(--my-color); justify-content: center;">
    {{ form_start(form) }}


        <div class="form-group">
            <label style="display: none;" for="{{ form.idResto.vars.id }}">id Resto</label>
            <input type="text" style="border: solid 1px var(--my-color); width: fit-content; display: none;" class="form-control" id="{{ form.idResto.vars.id }}" name="{{ form.idResto.vars.full_name }}" value="{{ user }}">
            <div class="form-error" style="color: red;">
            {{ form_errors(form.idResto) }}
            </div>
            {% do form.idResto.setRendered %}
        </div>

        <div class="form-group" style="display: flex; flex-direction: row; justify-content: center; width: 24%; margin-left: 32%; margin-right: 32%;">
            <label style="margin-left: 14%; margin-top: 3%; font-size: 20px;" for="{{ form.tarif.vars.id }}">Tarif</label>
            <input type="text/number" required style="border: solid 1px var(--my-color); width: fit-content; margin-left: 40%;" class="form-control" id="{{ form.tarif.vars.id }}" name="{{ form.tarif.vars.full_name }}" placeholder="Votre tarif">
            {{ form_errors(form.tarif) }}
            {% do form.tarif.setRendered %}
        </div>

        <div class="form-group" style="display: flex; flex-direction: row; justify-content: center; width: 18%; margin-left: 32%; margin-right: 32%;">
            <label style="margin-left: 14%; margin-top: 3%; font-size: 20px;" for="{{ form.portefeuilleVirtuel.vars.id }}">portefeuilleVirtuel</label>
            <input type="text/number" style="border: solid 1px var(--my-color); width: fit-content;  margin-left: 30%;" class="form-control" id="{{ form.portefeuilleVirtuel.vars.id }}" name="{{ form.portefeuilleVirtuel.vars.full_name }}" value="0">
            {{ form_errors(form.portefeuilleVirtuel) }}
            {% do form.portefeuilleVirtuel.setRendered %}
        </div>

        <input class="button button-hero mt-4" style="color: white;" type="submit" value="Create" />
    {{ form_end(form) }}
        </div>
    <ul style="margin-top: 5%;">
        <li>
            <a style="color: var(--my-color); letter-spacing: 0.4rem; font-weight: bold;" href="{{ path('tarifresto_index') }}">Back to the list</a>
        </li>
    </ul>
    </section>
</div>
{% endblock %}
