{% extends "base.html.twig" %}


{% block body %}

    <!-- page content -->
    <div class="right_col" role="main" >
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Les Inscris Newsletter </h3>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row" style="display: inherit;" >
                <div class="tile_count">
                    <div class="col-md-2 col-sm-6  tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Total Inscri</span>
                        <div class="count">{{nbin.nbin}}</div>
                    </div>
                    <div class="col-md-2 col-sm-6  tile_stats_count">
                        <span class="count_top"><i class="fa fa-calendar"></i> Les Inscris Aujourd'hui </span>
                        <div class="count">{{nbaj.nbin}}</div>
                    </div>
                    <div class="col-md-4 col-sm-6  tile_stats_count">
                        <span class="count_top"><i class="fa fa-globe"></i> Pays</span>
                        {% for mx in mxCnt %}
                            <div class="count green">{{mx.pp}}</div>
                            <span class="count_bottom"><i class="green">{{mx.cc}} Inscris</i> </span>
                        {% endfor %}
                    </div>
                    <div class="col-md-4 col-sm-6  tile_stats_count">
                        <span class="count_top"><i class="fa fa-clock-o"></i> Dernier Inscri</span>
                        {% for ll in last %}
                            <div class="count" style="font-size: 22px" >{{ ll.mail}}</div>
                            <span class="count_bottom"> le <i class="green">{{ ll.di | date('d/m/Y')}}</i> / <i class="green">{{ ll.pp}}</i></span>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="row">

                <div class="col-md-8 col-sm-12 ">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Les Inscris Par Pays <small> pour améliorer le mailling</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div id="curve_pays_chart" style="width: 900px; height: 500px"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2> Les Inscris par Date <small> connaitre vos actions </small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div id="curve_date_chart" style="width: 900px; height: 500px"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2> Les Inscris <small>affichage</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>@Mail</th>
                                    <th>Pays</th>
                                    <th>Date Inscription</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%  for IIN in listIN %}
                                    <tr>
                                        <td>{{ IIN.aMail }}</td>
                                        <td>{{ IIN.pays }}</td>
                                        <td>{{ IIN.dateInscri|date }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- /page content -->
    {% for pp in date %}
        [{{ pp.d | date('d/m/Y') }},  {{ pp.c }}],
    {% endfor %}


        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Date Inscription', 'Nombre d\'inscription' ],
                    {% for pp in date %}
                    ['{{  pp.d | date('d/m/Y') }}',   {{ pp.c }}],
                    {% endfor %}
                ]);

                var options = {
                    title: 'Inscription Newsletter par Date',
                    curveType: 'function',
                    legend: { position: 'bottom' }
                };

                var chart = new google.visualization.LineChart(document.getElementById('curve_date_chart'));

                chart.draw(data, options);
            }
        </script>

    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Date Inscription', 'Nombre d\'inscription' ],
                {% for pp in pays %}
                ['{{  pp.p }}',   {{ pp.c }}],
                {% endfor %}
            ]);

            var options = {
                title: 'Inscription Newsletter par pays',
                legend: { position: 'bottom' },
                pieHole: 0.6
            };

            var chart = new google.visualization.PieChart(document.getElementById('curve_pays_chart'));

            chart.draw(data, options);
        }
    </script>







{% endblock %}