{% extends "base.html.twig" %}


{% block body %}

    <!-- page content -->
    <div class="right_col" role="main" >
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Les Inscris Newsletter </h3>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row" style="display: inherit;" >
                <div class="tile_count">
                    <div class="col-md-2 col-sm-6  tile_stats_count">
                        <span class="count_top"><i class="fa fa-user"></i> Total Inscri</span>
                        <div class="count">{{nbin.nbin}}</div>
                    </div>
                    <div class="col-md-2 col-sm-6  tile_stats_count">
                        <span class="count_top"><i class="fa fa-calendar"></i> Les Inscris Aujourd'hui </span>
                        <div class="count">{{nbaj.nbin}}</div>
                    </div>
                    <div class="col-md-4 col-sm-6  tile_stats_count">
                        <span class="count_top"><i class="fa fa-globe"></i> Pays</span>
                        {% for mx in mxCnt %}
                            <div class="count green">{{mx.pp}}</div>
                            <span class="count_bottom"><i class="green">{{mx.cc}} Inscris</i> </span>
                        {% endfor %}
                    </div>
                    <div class="col-md-4 col-sm-6  tile_stats_count">
                        <span class="count_top"><i class="fa fa-clock-o"></i> Dernier Inscri</span>
                        {% for ll in last %}
                            <div class="count" style="font-size: 22px" >{{ ll.mail}}</div>
                            <span class="count_bottom"> le <i class="green">{{ ll.di | date('d/m/Y')}}</i> / <i class="green">{{ ll.pp}}</i></span>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="row">

                <div class="col-md-8 col-sm-12 ">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Les Inscris Par Pays <small> pour améliorer le mailling</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <canvas id="newsPays"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Visitors location <small>geo-presentation</small></h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Settings 1</a>
                                                <a class="dropdown-item" href="#">Settings 2</a>
                                            </div>
                                        </li>
                                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="dashboard-widget-content">
                                        <div class="col-md-4 hidden-small">
                                            <h2 class="line_30">125.7k Views from 60 countries</h2>

                                            <table class="countries_list">
                                                <tbody>
                                                <tr>
                                                    <td>United States</td>
                                                    <td class="fs15 fw700 text-right">33%</td>
                                                </tr>
                                                <tr>
                                                    <td>France</td>
                                                    <td class="fs15 fw700 text-right">27%</td>
                                                </tr>
                                                <tr>
                                                    <td>Germany</td>
                                                    <td class="fs15 fw700 text-right">16%</td>
                                                </tr>
                                                <tr>
                                                    <td>Spain</td>
                                                    <td class="fs15 fw700 text-right">11%</td>
                                                </tr>
                                                <tr>
                                                    <td>Britain</td>
                                                    <td class="fs15 fw700 text-right">10%</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div id="world-map-gdp" class="col-md-8 col-sm-12 " style="height:230px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-sm-12 ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2> Les Inscris <small>affichage</small></h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>@Mail</th>
                                    <th>Pays</th>
                                    <th>Date Inscription</th>
                                </tr>
                                </thead>
                                <tbody>
                                {%  for IIN in listIN %}
                                    <tr>
                                        <td>{{ IIN.aMail }}</td>
                                        <td>{{ IIN.pays }}</td>
                                        <td>{{ IIN.dateInscri|date }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- /page content -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
        new Chart(document.getElementById("newsPays"), {
            type: 'line',
            data: {
                labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
                datasets: [{
                    data: [86,114,106,106,107,111,133,221,783,2478],
                    label: "Africa",
                    borderColor: "#3e95cd",
                    fill: false
                }, {
                    data: [282,350,411,502,635,809,947,1402],
                    label: "Asia",
                    borderColor: "#8e5ea2",
                    fill: false
                }, {
                    data: [168,170,178,190,203,276,408,547,675,734],
                    label: "Europe",
                    borderColor: "#3cba9f",
                    fill: false
                }, {
                    data: [40,20,10,16,24,38,74,167,508,784],
                    label: "Latin America",
                    borderColor: "#e8c3b9",
                    fill: false
                }, {
                    data: [6,3,2,2,7,26,82,172,312,433],
                    label: "North America",
                    borderColor: "#c45850",
                    fill: false
                }
                ]
            }
        });
    </script>


{% endblock %}