{% extends 'front.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('front/scss/aide/css/root.css') }}">




{% endblock %}

{% block body %}


    <h1>Liste des demandes d'aide</h1>

    <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr>

                <th>Categorie</th>
                <th>publiée par</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Nbreactions</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demandeAide in demandeAides %}
            <tr>

                <td>{{ demandeAide.idCategorie.nom }}</td>
                <td>{{ demandeAide.idUser }}</td>
                <td>{{ demandeAide.titre }}</td>
                <td>{{ demandeAide.description }}</td>
                <td>{{ demandeAide.nbReactions }}</td>
                <td><img  style="width: 25%;" src="{{ asset('uploads/imagesAide/' ~ demandeAide.photo) }}" alt="image"><td>


              <td>
                    <ul>
                        <li>
                            <a href="{{ path('demandeaide_show', { 'id': demandeAide.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('demandeaide_edit', { 'id': demandeAide.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('demandeaide_new') }}">Create a new demandeAide</a>
        </li>
    </ul>





{% endblock %}
