{% extends 'base.html.twig' %}

{% block body %}
    <h1>Demandeaides list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Idcategorie</th>
                <th>Iduser</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Etat</th>
                <th>Nbreactions</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demandeAide in demandeAides %}
            <tr>
                <td><a href="{{ path('demandeaide_show', { 'id': demandeAide.id }) }}">{{ demandeAide.id }}</a></td>
                <td>{{ demandeAide.idCategorie }}</td>
                <td>{{ demandeAide.idUser }}</td>
                <td>{{ demandeAide.titre }}</td>
                <td>{{ demandeAide.description }}</td>
                <td>{{ demandeAide.etat }}</td>
                <td>{{ demandeAide.nbReactions }}</td>
                <td>{{ demandeAide.photo }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('demandeaide_show', { 'id': demandeAide.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('demandeaide_edit', { 'id': demandeAide.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('demandeaide_new') }}">Create a new demandeAide</a>
        </li>
    </ul>
{% endblock %}
