{% extends 'front.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('front/scss/aide/css/root.css') }}">
{% endblock %}

{% block body %}
    <h1>Demande aide</h1>

    <table>
        <tbody>
            <tr>

            <tr>
                <th>Titre</th>
                <td>{{ demandeAide.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ demandeAide.description }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ demandeAide.etat }}</td>
            </tr>
            <tr>
                <th>Nbreactions</th>
                <td>{{ demandeAide.nbReactions }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ demandeAide.photo }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('demandeaide_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('demandeaide_edit', { 'id': demandeAide.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
