{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('front/scss/aide/css/root.css') }}">
{% endblock %}

{% block content %}

    <h1>Créer une nouvelle catégorie </h1>
<br/>
    {{ form_start(form) }}
        {{ form_widget(form.nom, {'attr':{'placeholder': 'saisir nom categorie' }}) }}
    {{ form_widget(form.icone, {'attr':{'placeholder': 'choisir icone' }}) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('categorieaide_index') }}">Back to the list</a>
        </li>
    </ul>

{% endblock %}
