{% extends 'dash.html.twig' %}

{% block content %}
    <h1>Categorie {{ categorieAide.nom }}</h1>

    <table class="table table-striped jambo_table bulk_action">
        <tbody>

            <tr>
                <th>Nom</th>
                <td>{{ categorieAide.nom }}</td>
            </tr>
            <tr>
                <th>Icone</th>
                <td><img style="width: 5%; display: block;" src="{{ asset('uploads/imagesAide/' ~ categorieAide.icone) }}" alt="image"></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categorieaide_index') }}">Retour à la liste</a>
        </li>
        <li>
            <a href="{{ path('categorieaide_edit', { 'id': categorieAide.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
