{% extends 'front.html.twig' %}

{% block body %}
    <h1>Categorieaide</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorieAide.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ categorieAide.nom }}</td>
            </tr>
            <tr>
                <th>Icone</th>
                <td>{{ categorieAide.icone }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categorieaide_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('categorieaide_edit', { 'id': categorieAide.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
