{% extends 'front.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('front/scss/restoDon/css/root.css') }}">
{% endblock %}

{% block body %}
    <section>
    <h1 style="color: var(--my-color);">Repasservi creation</h1>

    {{ form_start(form) }}

        <div class="form-group" style="display: none;">
            <label for="{{ form.idResto.vars.id }}">id Resto</label>
            <input type="text" style="border: solid 1px var(--my-color);" class="form-control" id="{{ form.idResto.vars.id }}" name="{{ form.idResto.vars.full_name }}" value="{{ user }}">
            {{ form_errors(form.idResto) }}
            {% do form.idResto.setRendered %}
        </div>

        <div class="form-group" style="display: none;">
            {{ form_label(form.date, 'Date') }}
            {{ form_widget(form.date) }}
            {{ form_errors(form.date) }}
            {% do form.date.setRendered %}
        </div>


        <input class="button button-hero mt-4" style="color: white; background-color: var(--my-color);" type="submit" value="Create" />
    {{ form_end(form) }}

    <ul style=" margin-top: 2%;">
        <li>
            <a style="color: var(--my-color); letter-spacing: 0.4rem; font-weight: bold;" href="{{ path('repasservi_index') }}">Back to the list</a>
        </li>
    </ul>
    </section>
{% endblock %}
