{% extends 'front.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('front/scss/restoDon/css/root.css') }}">
    <link rel="stylesheet" href="{{ asset('front/scss/restoDon/css/restoDon.css') }}">
{% endblock %}

{% block body %}
<div id="body-new-repasServi">
    <h1>{{ title }}</h1>
    <div id="formulaire-div">
    {{ form_start(form) }}

        <div class="formulaire-div-basics" style="display: none;">
{#            <label class="formulaire-label" for="{{ form.idResto.vars.id }}">id Resto</label>#}
            <input type="text" class="formulaire-input" id="{{ form.idResto.vars.id }}" name="{{ form.idResto.vars.full_name }}" value="{{ user }}">
            {{ form_errors(form.idResto) }}
            {% do form.idResto.setRendered %}
        </div>

        <div class="formulaire-div-basics" style="display: none;">
            {{ form_label(form.date, 'Date') }}
            {{ form_widget(form.date) }}
            {{ form_errors(form.date) }}
            {% do form.date.setRendered %}
        </div>


        <input class="button button-hero mt-4" {{ state }} id="background-fit-repasServi" style="color: white; background-color: {{ couleur }};" type="submit" value="Create" />
    {{ form_end(form) }}
    </div>

    <ul class="link-list-style" id="background-fit-repasServi" style=" margin-top: 2%;">
        <li>
            <a class="link-list" href="{{ path('repasservi_index') }}">Back to the list</a>
        </li>
    </ul>
</div>
{% endblock %}
