{% extends 'front.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('front/scss/restoDon/css/root.css') }}">
{% endblock %}

{% block body %}
    <h1 style="color: var(--my-color);">Repasservi</h1>

    <table style="justify-content: center; margin-left: 42%;">
        <tbody>
            <tr>
                <th>Idresto</th>
                <td>{{ repasServi.idResto }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if repasServi.date %}{{ repasServi.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul style=" margin-top: 3%;">
        <li>
            <a style="color: var(--my-color); letter-spacing: 0.4rem; font-weight: bold;" href="{{ path('repasservi_index') }}">Back to the list</a>
        </li>
        <li>
            <a class="button button-hero mt-4" style="color: white; background-color: var(--my-color);" href="{{ path('repasservi_edit', { 'idRepas': repasServi.idRepas }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <div style="color: var(--my-color);">
                <input class="button button-hero mt-4" style="color: white; background-color: var(--my-color);" type="submit" value="Delete">
            </div>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
